---
---

<html>
  <head>
    <slot name="head" />
  </head>
  <body>
    <header><h1>Thomas Ware</h1></header>
    <main><slot /></main>
    <footer>&copy; 2025 Thomas Ware</footer>
  </body>
</html>
