---
import Layout from '../layouts/BaseLayout.astro';
---

<Layout title="Contacts | Thomas Ware">
  <section id="contact" class="py-12 bg-white">
    <div class="container mx-auto text-center">
      <h2 class="text-2xl font-bold mb-4">Contact</h2>
      <Card title="Email" content="thomware@yahoo.com" />
      <Card title="LinkedIn" content="https://www.linkedin.com/in/thomas-ware-83395473/" />
      <Card title="GitHub" content="https://github.com/mrthomware/Thomas-Ware-Personal-Website" />
      <div class="mt-6">
        <Button text="Go to Contact Page" href="/contact" />
      </div>
    </div>
  </section>
</Layout>
