---
---

<html>
  <head>
    <title>Thomas Ware | Home</title>
  </head>
  <body>
    <h1>Welcome to my personal website</h1>
    <p>This site is under development using Astro + Tailwind.</p>
  </body>
</html>
